.location {
    background-color: rgb(246, 240, 235);
    display: flex;
    text-align: center;
    flex-direction: column;

}

.details{
    background-color: rgb(131, 131, 211);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: solid black; */
}

button{
    padding: 20px;
}

.card {
    border: solid black;
}