.nav-bar {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logo-link {
    text-decoration: none;

  }
  
  .logo {
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    text-decoration: none;
    color: #000;
  }
  