body {
  font-family: sans-serif, Arial, Helvetica;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #517e94;
  padding: 1em;
  margin-bottom: 2em;
}

nav a {
  text-decoration: none;
  font-size: 2em;
  color: #ffffff;
}

nav img {
  height: 50px;
  width: 50px;
}

main {
  margin-top: 1em;
  text-align: center;
}

section,
h2 {
  margin-top: 1em;
  width: 90%;
  margin: auto;
  text-align: center;
}

li {
  font-size: 1em;
}

.locations {
  background: #f8f8ff;
  padding: 1em;
  min-height: 80vh;
}

.locations > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* list-style: none; */
  margin-left: 0;
}

.locations ul > li {
  background: #fffacd;
  margin: 0.5em;
  padding: 1.5em;
  width: 26%;
}

.locations ul > li > ul {
  margin-left: 0;
  list-style: none;
}

.locations ul > li > ul li {
  background: #f8f8ff;
  display: flex;
  flex-wrap: no-wrap;
  margin: 0.5em;
  width: 70%;
  justify-content: center;
}

.locations ul > li > ul li span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.details li {
  list-style: none;
  margin: 0.5em 0;
  align-self: center;
}

.details li span:first-child {
  font-weight: bold;
}

.people {
  background: #fffacd;
  height: 80vh;
  padding-top: 1em;
}

.people aside {
  background: #f8f8ff;
  width: 80%;
  min-height: 50%;
  margin: auto;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
}

.people aside h3 {
  padding-top: 1em;
}

.people span,
.movies span,
.locations span {
  font-weight: bold;
}

.movies {
  padding-top: 1em;
  height: 80vh;
  background: #d7f0f2;
}

.movies aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f8ff;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
}

p {
  line-height: 1.5em;
  text-align: center;
}

ul li::marker {
  font-size: 150%;
  color: #517e94;
  opacity: 0;
}

.hide-btn {
  display: none;
}

form,
.movie-list,
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

select,
input,
button {
  margin: 0 3px 0 3px;
  padding: 0.3em 0.5em 0.3em 0.5em;
}

#src-btn {
  background: #fffacd;
}

.btn {
  background: #f8f8ff;
}
